extends layout

block content
  //- form(action="." method="POST")
  //-   label(for="book") Book:
  //-   input(
  //-     type="text"
  //-     id="book"
  //-     name="book"
  //-   )

  //-   label(for="authoer") Author:
  //-   input(
  //-     type="text"
  //-     id="author"
  //-     name="author"
  //-   )

  //-   input(type="submit" value="Submit")
  button Hi
    a(href="/login")